# List
### string are immutable = not changable
### list are muatble = changable

In [ ]:
# Definition 
#list in python are derived data type which is ordered and mutable in nature it contains number of element from different data types for example string 
#int,float, bool ,None and list as well

In [10]:
cars=["BMW","GM","KIA","TATA"]
print(cars)

['BMW', 'GM', 'KIA', 'TATA']

In [11]:
print(type(cars))

<class 'list'>

In [13]:
cars=["BMW,GM,KIA,TATA"]
print(cars)

['BMW,GM,KIA,TATA']

In [14]:
print(type(cars))

<class 'list'>

In [15]:
list1=["pthon","ML",29,22.5,None,True,False]
print(list1)

['pthon', 'ML', 29, 22.5, None, True, False]

In [16]:
# Length function -- len()  will retun the number of items present in the list start from 0
print(len(list1))

7

In [17]:
# Indexing - it provides uniques identity to the elements present in the list
# positive index= start from left
# negative index= start from right
print(list1[1])

ML

In [18]:
print(list1[0])

pthon

In [19]:
print(list1[2])

29

In [20]:
print(list1[-0])

pthon

In [21]:
print(list1[-1])

False

In [24]:
print("-*-"*50)

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-

In [25]:
## Declare atleast 10 different list elements between 20-100
## and perform indexig from 0 to 20 and -1 to -99

In [30]:
list1=[23,45,"shruti",53.9,1+2j,67,87,"java",98,99,57,False]
print("list1 =",list1)
print("positive index =",list1[1],list1[2])
print("negative index =",list1[-3],list1[-5])

list1 = [23, 45, 'shruti', 53.9, (1+2j), 67, 87, 'java', 98, 99, 57, False]
positive index = 45 shruti
negative index = 99 java

In [19]:
list2=[2+3j,"python",76,83,"fortune cloude",47.5,46,89,True,65,35,60,30,False]
print("list2 =",list2)
print("positive index =",list2[3],list2[6])
print("negative index =",list2[-1],list2[-2])

list2 = ['python', 76, 83, 'fortune cloude', 47.5, 46, 89, True, 65, 35, 60, 30, False]
positive index = fortune cloude 89
negative index = False 30

In [31]:
list3=[49,64.8,58,68,"machine learning", 5+0j,57,None,95,"ds",75,94,85,47]
print("list3 =",list3)
print("positive index =",list3[2],",",list3[4])
print("negative index =",list3[-3],",",list3[-5])

list3 = [49, 64.8, 58, 68, 'machine learning', (5+0j), 57, None, 95, 'ds', 75, 94, 85, 47]
positive index = 58 , machine learning
negative index = 94 , ds

In [32]:
list4=[40.67,38,74,3+4j,"Lists",98,35,68,None,48,True,84,47,56.9,False]
print("list4 =",list4)
print("positive index =",list4[1],list4[3])
print("negative index =",list4[-3],list4[-5])

list4 = [40.67, 38, 74, (3+4j), 'Lists', 98, 35, 68, None, 48, True, 84, 47, 56.9, False]
positive index = 38 (3+4j)
negative index = 47 True

In [33]:
list5=[48, 0+1j,60,43,88.86,22,"hello",74,True,63,55,63,87,None]
print("list5 =",list5)
print("positive index =",list5[1],list5[2])
print("negative index =",list5[-3],list5[-5])

list5 = [48, 1j, 60, 43, 88.86, 22, 'hello', 74, True, 63, 55, 63, 87, None]
positive index = 1j 60
negative index = 63 63

In [34]:
list6=[59,84, 6.66, "lucky", False, None, 7+7j, "seven", True, 11, 0.7]
print("list6 =",list6)
print("positive index =",list6[1],list6[2])
print("negative index =",list6[-3],list6[-5])

list6 = [59, 84, 6.66, 'lucky', False, None, (7+7j), 'seven', True, 11, 0.7]
positive index = 84 6.66
negative index = True (7+7j)

In [36]:
list7=[9.99, "big", True, None, 9+0j, False, "giant", 2, 6.635,24,90]
print("list7 =",list7)
print("positive index =",list7[1],list7[2])
print("negative index =",list7[-3],list7[-5])

list7 = [9.99, 'big', True, None, (9+0j), False, 'giant', 2, 6.635, 24, 90]
positive index = big True
negative index = 6.635 giant

In [37]:
list8=[83,581.3, "thirteen", False, None, 1+1j, True, "lucky",79,49]
print("list8 =",list8)
print("positive index =",list8[1],list8[2])
print("negative index =",list8[-3],list8[-5])

list8 = [83, 581.3, 'thirteen', False, None, (1+1j), True, 'lucky', 79, 49]
positive index = 581.3 thirteen
negative index = lucky (1+1j)

In [38]:
list9=[ 2.1, "blackjack", True, None, 2+2j, False, "game", 4, 9,39]
print("list9 =",list9)
print("positive index =",list9[1],list9[2])
print("negative index =",list9[-3],list9[-5])

list9 = [2.1, 'blackjack', True, None, (2+2j), False, 'game', 4, 9, 39]
positive index = blackjack True
negative index = 4 False

In [39]:
list10=[ 7.17, "prime", False, None, 1+0j, True, "number",50]
print("list10 =",list10)
print("positive index =",list10[1],list10[2])
print("negative index =",list10[-3],list10[-5])

list10 = [7.17, 'prime', False, None, (1+0j), True, 'number', 50]
positive index = prime False
negative index = True None

In [7]:
my_list=["KIA","SUPRA","BMW","TATA",None,True,"BMW",99.80]
print(my_list)

['KIA', 'SUPRA', 'BMW', 'TATA', None, True, 'BMW', 99.8]

In [8]:
print(my_list[2])

BMW

In [9]:
print(my_list[6])

BMW

In [24]:
list1=["shruti",["Peach","rose",16,True],"cat"]
print(list1[0])
print(list1[1][1])
print(list1[1][3])

shruti
rose
True

In [31]:
long_list=[100,55,5,5.55,[55,555.555,33.33,33,True,None],["apple",123.453,"cherry","red"],
           ["machine","nlp","bag of worlds",False],563.34,True,False,"lion","red",["hyena"],
           ["tiger",1000,"cat"],"owl","owl",["ant"],["AIRBNB","Swiggy"],"samsung",["NVIDIA"]]

In [40]:
print(long_list)

[100, 55, 5, 5.55, [55, 555.555, 33.33, 33, True, None], ['apple', 123.453, 'cherry', 'red'], ['machine', 'nlp', 'bag of worlds', False], 563.34, True, False, 'lion', 'red', ['hyena'], ['tiger', 1000, 'cat'], 'owl', ['ant'], ['AIRBNB', 'Swiggy'], 'samsung', ['NVIDIA']]
5

In [41]:
print(long_list[5])

['apple', 123.453, 'cherry', 'red']

In [42]:
print(long_list[6])

['machine', 'nlp', 'bag of worlds', False]

In [43]:
print(long_list[7])

563.34

In [44]:
print(long_list[12])

['hyena']

In [47]:
print(long_list[13][0])

tiger

In [51]:
long_list.index("owl")

14

In [52]:
for items in long_list:
    print(items)

100
55
5
5.55
[55, 555.555, 33.33, 33, True, None]
['apple', 123.453, 'cherry', 'red']
['machine', 'nlp', 'bag of worlds', False]
563.34
True
False
lion
red
['hyena']
['tiger', 1000, 'cat']
owl
['ant']
['AIRBNB', 'Swiggy']
samsung
['NVIDIA']

In [56]:
long_list[-1]

['NVIDIA']

## slicing
* it slices the given list according the position we provide and returns a new list rather than slicing the original list
* formula =[ start_index : stop_index]
* parameters
* start index : slicing starts at given position including that position
* if start position is not provided by default slicing start at 0 index

In [61]:
num=[100,200,300,400,500,600,700]
num[1:]

[200, 300, 400, 500, 600, 700]

In [63]:
num[1:5]

[200, 300, 400, 500]

In [64]:
num[:5]

[100, 200, 300, 400, 500]

In [65]:
mix=[110,200,324,"Apple","Mango",32,67.98,120]
# now slice the list strting from apple to end

In [66]:
mix[3:]

['Apple', 'Mango', 32, 67.98, 120]

In [68]:
mix[:]

[110, 200, 324, 'Apple', 'Mango', 32, 67.98, 120]

## stop index 
* Index position where we stop the slicing
* but unlike start the stop excludes the stop positioned slicice till previous element
* if start index is 1:4 slicing start at 1 but stops at index 3 excluding index 4

In [70]:
mix=[110,200,324,"Apple","Mango",32,67.98,120]

In [71]:
mix[1:5]

[200, 324, 'Apple', 'Mango']

In [72]:
mix[3:5]

['Apple', 'Mango']

In [73]:
mix[3:4]

['Apple']

In [74]:
# with slicing 
mix[4:5]

['Mango']

In [75]:
mix.index()

4

In [77]:
mix[6:7]

[67.98]

In [2]:
hw=[23,45,90.45,"False",32 ,False,"Apple",True,"swiggy","Zomato","For"]

In [3]:
# give me new list from string false to bool False
hw[3:6]

['False', 32, False]

In [4]:
#another list from bool false to for
hw[5:]

[False, 'Apple', True, 'swiggy', 'Zomato', 'For']

In [5]:
# give me list till true
hw[:8]

[23, 45, 90.45, 'False', 32, False, 'Apple', True]

In [6]:
print("-*-"*102)

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-

### STEPPING
* how many indexes to skip after taking each index
* default step is 1 if step is not provided

In [7]:
hw[0:5:1]

[23, 45, 90.45, 'False', 32]

In [8]:
hw[0:5:2]

[23, 90.45, 32]

In [9]:
hw[3:6:2]

['False', False]

In [10]:
hw[::-1]

['For', 'Zomato', 'swiggy', True, 'Apple', False, 32, 'False', 90.45, 45, 23]

In [11]:
hw[::-2] # skip every 2nd element from list

['For', 'swiggy', 'Apple', 32, 90.45, 23]

In [14]:
hw[::3]

[23, 'False', 'Apple', 'Zomato']

In [15]:

hw[3::2]

['False', False, True, 'Zomato']

In [16]:
# home work
# list with starting from string false to for
# [false,for]

In [18]:
hw[3::3]

['False', 'Apple', 'Zomato']

## Lists Method

In [16]:
# 1.Append() 
cars=["BMW","KIA"]  # now i want to add new car named "TATA"
print("before append",cars)
cars.append("TATA")
print("after append",cars)

# append cam add only one element each time'
#it adds the new element at the end of the list
# if we add more than one element the new list will get created inside the main list

before append ['BMW', 'KIA']
after append ['BMW', 'KIA', 'TATA']

In [18]:
ipl=["MI","CSK"]
ipl

['MI', 'CSK']

In [19]:
ipl.append(["RCB","KKR"])
ipl

['MI', 'CSK', ['RCB', 'KKR']]

In [20]:
# extend()

In [34]:
num=[100,200,300]
num

[100, 200, 300]

In [35]:
# now i have to add multiple elements at a time to my original list without creating nestead list

In [36]:
num.extend([400,500,"Apple",True])

In [37]:
num

[100, 200, 300, 400, 500, 'Apple', True]

In [83]:
# drawbaks of append and extends 
# it adds elements to the end of the list

num=[100,200,300]
num

[100, 200, 300]

In [84]:
# now lets add number 150 but it should get added after 100
num.insert(1,150) #(index,element)
num

[100, 150, 200, 300]

In [85]:
# perform 3 example of each append , extend,insert

In [86]:
## Append

In [87]:
list1=[23,57,"python",False] # add float at the end
list1.append(67.90)
list1

[23, 57, 'python', False, 67.9]

In [88]:
list2=["machine","nlp","AI"]
list2.append("deep Learning")
list2

['machine', 'nlp', 'AI', 'deep Learning']

In [89]:
list3=[35,57,47,"animals"] 
list3.append(["cat","dog"])
list3

[35, 57, 47, 'animals', ['cat', 'dog']]

In [90]:
## extends

In [91]:
list4=[100,200,300,"names"]
list4.extend(["shruti","monika"])
list4

[100, 200, 300, 'names', 'shruti', 'monika']

In [92]:
list5=["TATA","BMW","KIA"]
list5.extend(["Mahindra","Hyundai"])
list5

['TATA', 'BMW', 'KIA', 'Mahindra', 'Hyundai']

In [93]:
list6=[893,4567,89,245]
list6.extend([344,678,900])
list6

[893, 4567, 89, 245, 344, 678, 900]

In [94]:
## insert

In [95]:
list7=[10,20,30,40]
list7.insert(2,25)
list7

[10, 20, 25, 30, 40]

In [96]:
list8=[100,200,300,400]
list8.insert(1,180)
list8

[100, 180, 200, 300, 400]

In [97]:
list9=[60,70,75,80]
list9.insert(0,90)
list9

[90, 60, 70, 75, 80]

In [98]:
# lets pass negative index for inserting 
# negative index in insert will add new element before the given element
num.insert(-1,400)
num

[100, 150, 200, 400, 300]

## removing element from the list

In [115]:
#1 remove(element) - it remove 1st occurance of the elemnt
birds=["eagle","sparrow","owl","Penguin","Duck","Hen"]
birds

['eagle', 'sparrow', 'owl', 'Penguin', 'Duck', 'Hen']

In [116]:
# remove the birds that cannot fly e.g. Penguin
birds.remove("Penguin")
birds

['eagle', 'sparrow', 'owl', 'Duck', 'Hen']

In [118]:
# pop
# pop will remove the last element and returns it in new list
# if index is not provided then it will remove last
cannot_fly=birds.pop()
cannot_fly

'Hen'

In [119]:
fly_high=birds.pop(0)
fly_high

'eagle'

In [123]:
birds.clear() # clear() will return you a empty list

In [124]:
birds

[]

In [125]:
# lets create empty list
blank=[]
print(blank)

[]

In [136]:
# Changing element in the list airways
airways=["Qatar","fly emirates","Air india","Ethihad"]
airways

['Qatar', 'fly emirates', 'Air india', 'Ethihad']

In [137]:
# Lets alter the air india with Riyadh Airways
airways[2]="Riyadh"
airways

['Qatar', 'fly emirates', 'Riyadh', 'Ethihad']

In [141]:
# changing element using slicing
num=[1,3,4,5,6,8,7,9]
num

[1, 3, 4, 5, 6, 8, 7, 9]

In [142]:
# using slicing 
num[1:4]=[20,40,60]

In [143]:
num

[1, 20, 40, 60, 6, 8, 7, 9]

In [144]:
num[4:6]=[70,100]
num

[1, 20, 40, 60, 70, 100, 7, 9]

In [145]:
## sorting and reversing
NUM=[23,46,76,64,12,47,99]
NUM.sort()   # sort() will by default sort in scending order
NUM

[12, 23, 46, 47, 64, 76, 99]

In [146]:

NUM.sort(reverse=True) # reverse will sort in descending
NUM

[99, 76, 64, 47, 46, 23, 12]

In [150]:
cars=["BMW","TATA","AUDI","KIA"]
cars.reverse()
cars

['KIA', 'AUDI', 'TATA', 'BMW']

# Part A â€“ Indexing & Slicing

In [ ]:
# 1. Create a list of 8 mountain names. Print the 4th mountain.

In [85]:
mountains=["Everest", "K2", "Kangchenjunga", "Lhotse", "Makalu", "Cho Oyu", "Dhaulagiri", "Manaslu"]
mountains[3]

'Lhotse'

In [2]:
# 2. Create a list of 6 car brands. Print the last brand using negative indexing.

In [3]:
cars=["Toyota", "Honda", "Ford", "BMW", "Audi", "Mercedes"]
cars[-1]

'Mercedes'

In [4]:
# 3. Create a list of 10 movie names. Print the first 3 movies using slicing.

In [6]:
movies=["Inception", "Titanic", "Avatar", "Interstellar", "Joker", "Gladiator", "Frozen", "Avengers", "Up", "Shrek"]
movies[:3]

['Inception', 'Titanic', 'Avatar']

In [7]:
# 4. Create a list of 7 programming languages. Print the last 4 languages.

In [88]:
programming_languages=["Python", "Java", "C++", "JavaScript", "Ruby", "Go", "Swift"]
programming_languages[3:]

['JavaScript', 'Ruby', 'Go', 'Swift']

In [10]:
# 5. Create a list of 12 birth years. Print every third year using slicing.

In [64]:
years=[1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012]
years[::3]

[1990, 1996, 2002, 2008]

In [12]:
# 6. Create a list of 5 historical monuments. Print from the 2nd to the last monument.

In [89]:
 historical_monuments=["Taj Mahal", "Qutub Minar", "Red Fort", "Gateway of India", "Hawa Mahal"]
historical_monuments[1:]

['Qutub Minar', 'Red Fort', 'Gateway of India', 'Hawa Mahal']

In [14]:
#7. Create a list of 6 sports. Print from index 1 to index 4 (exclusive).

In [90]:
sports=["Cricket", "Football", "Tennis", "Hockey", "Badminton", "Basketball"]
sports[1:4]

['Football', 'Tennis', 'Hockey']

In [24]:
# 8. Create a list of 9 city names. Print the list in reverse order using slicing

In [68]:
cities=["Paris", "London", "New York", "Tokyo", "Dubai", "Rome", "Sydney", "Mumbai", "Berlin"]
print(cities[::-1])

['Berlin', 'Mumbai', 'Sydney', 'Rome', 'Dubai', 'Tokyo', 'New York', 'London', 'Paris']

## Part B â€“ List Methods

In [ ]:
# 9. Start with ["mercury", "venus", "earth"]. Add "mars" at the end.

In [27]:
list1=["mercury", "venus", "earth"]
list1.append("mars")
list1

['mercury', 'venus', 'earth', 'mars']

In [28]:
# 10. Start with ["python", "java"]. Add "c++" and "go" at the end together.

In [30]:
list2=["python", "java"]
list2.extend(["c++","go"])
list2

['python', 'java', 'c++', 'go']

In [31]:
# 11. Start with ["tesla", "bmw", "audi"]. Insert "volvo" at index 2.

In [33]:
cars=["tesla", "bmw", "audi"]
cars.insert(2,"volvo")
cars

['tesla', 'bmw', 'volvo', 'audi']

In [34]:
# 12. Start with ["pizza", "burger", "pasta"]. Remove "burger".

In [36]:
food=["pizza", "burger", "pasta"]
food.remove("burger")
food

['pizza', 'pasta']

In [37]:
# 13. Start with [101, 202, 303, 404]. Remove the last element using pop() and print it.

In [38]:
num= [101, 202, 303, 404]
remove_last=num.pop()
remove_last

404

In [39]:
# 14. Start with [42, 17, 88, 3]. Sort the list in ascending order.

In [41]:
num1= [42, 17, 88, 3]
num1.sort()
num1

[3, 17, 42, 88]

In [42]:
# 15. Start with [900, 1200, 450, 780]. Sort the list in descending order.

In [49]:
num2=[900, 1200, 450, 780]
num2.sort(reverse=True)
num2

[1200, 900, 780, 450]

In [50]:
# 16. Start with ["gold", "silver", "bronze"]. Reverse the list using the reverse() method.

In [51]:
list3=["gold", "silver", "bronze"]
list3.reverse()
list3

['bronze', 'silver', 'gold']

# Part C â€“ Combined Tasks

In [52]:
# 17. Create a list of [2, 4, 6]. Add 8 and 10 at the end, then insert 0 at the beginning.

In [54]:
list3= [2, 4, 6]
list3.extend([8,10])
list3.insert(0,0)
list3

[0, 2, 4, 6, 8, 10]

In [55]:
# 18. Create a list of ["mumbai", "delhi", "pune", "chennai"]. Remove "delhi" and "chennai".

In [92]:
cities=["mumbai", "delhi", "pune", "chennai"]

In [93]:
cities.remove("delhi")
cities.remove("chennai")
cities

['mumbai', 'pune']

In [62]:
# 19. Create a list of [15, 30, 45, 60, 75]. Print from index 2 to 4, then reverse that portion using slicing.

In [75]:
numbers= [15, 30, 45, 60, 75]
nums=numbers[2:]
print(nums)
rev=nums[::-1]
print(rev)

[45, 60, 75]
[75, 60, 45]

In [76]:
# 20. Create a list of 6 mixed values (e.g., ["drone", 250, "camera", 99.9, "tripod", 18]). Print only the last 2 elements.

In [84]:
val= ["drone", 250, "camera", 99.9, "tripod", 18]
print(val[-2:])
print(val[4:])

['tripod', 18]
['tripod', 18]